@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.galeria-container {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
}

.container-galery {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 800px;
    height: 500px;
    font-family: "Rubil", sans-serif;
    transition: all 400ms;
}

.box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px 10px 10px 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
}

.container-galery:hover .box {
    filter: grayscale(100%) opacity(24%);
}

.box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
}

.container-galery .box:hover {
    filter: grayscale(0%) opacity(100%);
}

.container-galery:has(.box-1:hover) {
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container-galery:has(.box-2:hover) {
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container-galery:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container-galery:has(.box-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 5fr 1fr 1fr 1fr 1fr 1fr;
}

.container-galery:has(.box-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 5fr 1fr 1fr 1fr 1fr;
}

.container-galery:has(.box-6:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 5fr 1fr 1fr 1fr;
}

.container-galery:has(.box-7:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 5fr 1fr 1fr;
}

.container-galery:has(.box-8:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5fr 1fr;
}

.container-galery:has(.box-9:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5fr;
}

.box:nth-child(odd) {
    transform: translateY(-16px);
}

.box:nth-child(even) {
    transform: translateY(16px);
}