@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: auto;
}
body {
    font-family: 'Rubik', sans-serif;
    background: url("./fondo.jpg");
}
section {
    width: 80%;
    background-color: #393838;
    padding: 135px 0;
    display: flex;
}

#izquierdo {
    color: #ffffff;
    width: 60%;
}

#derecho {
    width: 30%;
    border-left: solid white 5px;
    padding-left: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

input{
    color: #000000;
    width: 85%;
    border: solid 2px #ffffff;
    clear: both;
    border-radius: 5px;
    margin: 5px 0;
}

.form-box {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

#inicio1 {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#inicio1 :hover {
    background: #000;
    color: #fff;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.container{
    position: relative;
    width: 250px;
    height: 250px;
}

.orbit {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    mix-blend-mode: color-dodge;
    top: 0;
    left: 0;
    will-change: transform;
}

.orbit:nth-child(1){
    background: 
      radial-gradient( #fd1549,
        #000 31%,
        #8c005e 34%,
        #000 52%,
        #ff1055 60%,
        #000 70%);
    transform: rotate(90deg) translate3d(150px,0,0);
    --n: 1;
}

.orbit:nth-child(2){
    background: 
      radial-gradient( #00fff7,
        #000 31%,
        #00328c 34%,
        #000 52%,
        #00f2ff 60%,
        #000 70%);
    transform: rotate(180deg) translate3d(150px,0,0);
    --n: 2;
}

.orbit:nth-child(3){
    background: 
      radial-gradient( #00ff40,
        #000 31%,
        #008c36 34%,
        #000 52%,
        #00ff77 60%,
        #000 70%);
    transform: rotate(270deg) translate3d(150px,0,0);
    --n: 3;
}

.orbit:nth-child(4){
    background: 
      radial-gradient( #fff700,
        #000 31%,
        #8c7300 34%,
        #000 52%,
        #ffee00 60%,
        #000 70%);
    transform: rotate(360deg) translate3d(150px,0,0);
    --n: 4;
}

.orbit {
    animation: anim 7s infinite ease-in-out;
}

@keyframes anim {
    33% {
        transform: 
        rotate(calc(var(--n) * 90deg))
        translate3d(20px, 0, 0) rotateY(60deg);
    }

    66% {
        transform: 
        translate3d(20px, 0, 0) 
        rotate(calc(var(--n) * 90deg)) 
        rotateZ(180deg) rotateY(180deg);
    }

    100% {
        transform: 
        rotate(calc(var(--n) * 90deg))
        translate3d(150px, 0, 0)
        rotateX(180deg);
    }
}